<div class="container color-dark">
    <div class="col">
      <p>Enter the data here</p>
    </div>
    <div class="col">
      <p>Data</p>
    </div>
</div>

<div class="container color-light">
  <div class="col">
    <p class="sm">Please enter both field</p>
      
        <input type="text" class="txt" required placeholder="Enter The Name" (keyup)="onKey($event)" [(ngModel)]="nameText" >
        <br>
        <input type="number" class="txt" required placeholder="Enter the Age" (keyup)="onKey($event)"  [(ngModel)]="ageText">
        <br>
        <p class="greet-container">{{ value }}</p>
        <input type="submit" class="btn" value="AddData" (click)="add()">
      
  </div>
  <div class="col">
      <table>
        <tr>
          <th>Name</th>
          <th>Age</th>
        </tr>
      <tr class="life-container" *ngFor="let a of data" >     
        <td>{{ a.name }}</td>
        <td>{{a.age}}</td>
      </tr>
      </table>
  </div>
</div>